#game-board {
    border: 1px solid #4ABDAC;
    height: 430px;
    margin-top: 40px;
    margin: 0 auto;
    text-align: center;
    width: 650px;
}

#game-board .card {
    background: #373737;
    border: 1px solid #DFDCE3;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, sans-serif, Arial;
    font-weight: bold;
    height: 85px;
    line-height: 85px;
    margin: 10px;
    vertical-align: top;
    width: 85px;
}
